<?xml version="1.0"?>
<xliff version="1.2" xmlns="{{ namespace }}">
    <file source-language="{{ sourceLanguage }}" datatype="plaintext" original="file.ext">
        <body>
{% for transUnit in transUnits %}
            <trans-unit id="{{ transUnit.id }}">
                <source>{{ transUnit.source|raw }}</source>
                <target>{{ transUnit.target|raw }}</target>
            </trans-unit>
{% endfor %}
        </body>
    </file>
</xliff>